<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="icon" href="./photo-club-icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="covrege.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="covregeCard.css">



    <style>
        main {
            display: block;
            color: aliceblue;
        }

        .submiter {
            display: none;
        }

        .submationContaner {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            background-color: black;
            opacity: 0.7;
            z-index: 2;
        }

        .SubmationForm {
            min-height: 300px;
            height: fit-content;
            width: 50%;
            background-color: black;
            z-index: 2;
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
            /* Need a specific value to work */

        }
    </style>


    <title>Coverages</title>
</head>

<body>

    <header>
        <%- include("header") %>

    </header>




    <div class="submiter">
        <div class="submationContaner"></div>
        
        <form action="/upload" method="POST" enctype="multipart/form-data" class="login-form SubmationForm">
            <i class="bi bi-x" style="color: aliceblue; font-size: 27px;"></i>
            <h2>Covrege</h2>
            <div>
                <label for="name">Convrege Name</label>
                <br>
                <input required type="text" name="folder" placeholder="folder name" class="form-control" >
            </div>
            <label for="imagesFiles" style="font-size: 20px;color: #6b6b6b;">Add Images</label>
            <br>
            <input required id="fileInput" type="file" name="files" multiple class="form-control">
            <button type="submit">Submit</button>
        </form>
    </div>


    <main>
        <section class="cardsContainer">
            <h1>Coverages</h1>
            <div class="cont">
            <% folders.forEach(function(folder) { %>
                <% if (folder != "searchTemp"){ %>
                    <div class="coverageCard" style="margin: 0px 10px;">
                        <% let num = 1 %>
                        <% files.forEach(function(file) { %>
                            <% if (folder === file.folder && num != 2) { %>
                                    <img  src="<%= file.url %>" alt="">
                                    <p class="cardTitle"><%= folder %></p>
                                <% num += 1 %>
                            <% } %>
                        <% }); %>                        
                    </div>
                <% } %>
            <% }); %>
        </div>


        </section>

        <% if (userRole=="admin" ) { %>

            <div class="button-add-search">
                <button type="button" id="addButton" class="btn btn-outline-primary">Add</button>
                <!-- <button type="button" class="btn btn-outline-secondary">Search</button> -->
            </div>

            <script>
                const btnAdd = document.querySelector("#addButton");
                const submiter = document.querySelector(".submiter");
                const x_icon = document.querySelector(".bi-x")

                btnAdd.addEventListener('click', function () {
                    submiter.style.display = "block";
                });

                x_icon.addEventListener('click', function () {
                    submiter.style.display = "none";
                })

            </script>

            <% } %>

    </main>
    <script>
        cvCard = document.querySelectorAll(".coverageCard");
        cvCard.forEach(element => {
            element.addEventListener('click', function () {
            var folderText = this.querySelector('.cardTitle').innerHTML;
            window.location.href = 'coverage?folder=' + folderText;

            });
        })


        // upload images
document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('addButton').addEventListener('click', function () {
    });

    document.getElementById('fileInput').addEventListener('change', function (event) {
        var files = event.target.files;
        if (files) {
            var formData = new FormData();
            for (var i = 0; i < files.length; i++) {
                formData.append('files', files[i]);
            }
            formData.append('folder', document.getElementById('folderInput').value); // Set folder name

            // Make an AJAX request to the server
            fetch('/upload', {
                method: 'POST',
                body: formData
            }).then(response => {
                if (response.ok) {
                    console.log('Files uploaded successfully');
                    window.location.reload(); // Reload the page after successful upload
                } else {
                    console.error('Upload failed');
                }
            }).catch(err => console.error('Error:', err));
        }
    });
});
    </script>


</body>

</html>