<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PhotoClub</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.typekit.net/hky5sxh.css">
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="stylesheet" type="text/css" href="base.css" />
        <link rel="stylesheet" href="style.css">
		<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
		<script src="//tympanus.net/codrops/adpacks/analytics.js"></script>
	</head>
	<body class="loading">
		<header>
            <%- include("header") %>
        </header>

        <main>
			<div class="intro"> 
				<h1 class="intro__title"> 
					<span class="intro__title-pre">Photo Club</span> 
					<span class="intro__title-sub">Welcom To Photo Club</span> 
				</h1> 
				<span class="intro__info">Scroll moderately to fully experience the animations</span> 
			</div>
			<section class="content">				
				<div class="grid grid--1">
					<div class="grid-wrap">
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(1.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url()"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(3.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(4.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(5.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(6.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(7.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(8.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(9.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(10.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(11.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(12.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(13.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(14.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(15.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(16.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(17.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(18.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(19.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(20.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(21.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(22.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(23.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(24.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(25.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(26.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(27.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(28.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(29.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(30.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(31.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(32.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(33.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(34.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(35.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(36.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(37.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(38.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(39.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(40.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(41.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(42.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(43.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(44.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(45.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(46.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(47.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(48.jpg)"></div></div>
					</div>
				</div>
				<h3 class="content__title content__title--right content__title--top">Capturing the moments that make graduation unforgettable.</h3>
			</section>
			<section class="content">
				<div class="grid grid--2">
					<div class="grid-wrap">
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(1.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(2.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(3.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(4.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(5.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(6.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(7.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(8.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(9.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(10.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(11.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(12.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(13.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(14.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(15.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(16.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(17.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(18.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(19.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(20.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(21.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(22.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(23.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(24.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(25.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(26.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(27.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(28.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(29.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(30.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(31.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(32.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(33.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(34.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(35.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(36.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(37.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(38.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(39.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(40.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(41.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(42.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(43.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(44.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(45.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(46.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(47.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(48.jpg)"></div></div>
					</div>
				</div>
				<h3 class="content__title">Engage the inspiration at<br>exhibitions and conferences..</h3>
			</section>
			<section class="content content--spacing">
				<div class="grid grid--3">
					<div class="grid-wrap">
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(18.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(29.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(6.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(37.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(15.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(32.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(41.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(23.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(5.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(12.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(27.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(1.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(46.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(35.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(20.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(39.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(8.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(25.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(2.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(44.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(43.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(17.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(26.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(11.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(14.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(7.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(33.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(30.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(10.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(21.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(16.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(31.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(24.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(36.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(42.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(3.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(38.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(9.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(4.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(40.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(28.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(22.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(34.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(13.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(19.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(47.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(45.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(48.jpg)"></div></div>
					</div>
				</div>
				<h3 class="content__title content__title--left content__title--bottom">Never miss the beauty of scenery and architecture through our perspective.</h3>
			</section>
			<section class="content content--spacing">
				<div class="grid grid--4">
					<div class="grid-wrap">
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(3.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(21.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(16.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(24.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(9.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(7.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(15.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(19.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(6.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(8.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(17.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(5.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(18.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(13.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(4.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(14.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(1.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(2.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(11.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(20.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(23.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(10.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(22.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(12.jpg)"></div></div>
					</div>
				</div>
				<h3 class="content__title content__title--right">Live the excitement of the competitions and tournaments</h3>
			</section>
			<section class="content content--spacing">
				<div class="grid grid--5">
					<div class="grid-wrap">
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(18.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(29.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(6.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(37.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(15.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(32.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(41.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(23.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(5.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(12.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(27.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(1.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(46.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(35.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(20.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(39.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(8.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(25.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(2.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(44.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(43.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(17.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(26.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(11.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(14.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(7.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(33.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(30.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(10.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(21.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(16.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(31.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(24.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(36.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(42.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(3.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(38.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(9.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(4.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(40.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(28.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(22.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(34.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(13.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(19.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(47.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(45.jpg)"></div></div>
						<div class="grid__item"><div class="grid__item-inner" style="background-image:url(48.jpg)"></div></div>
					</div>
				</div>
				<h3 class="content__title">Document events and coverage through our lens.</h3>
			</section>
			<section class="content content--spacing">
			<div class="grid grid--6">
				<div class="grid-wrap">
					<div class="grid__item"><div class="grid__item-inner" style="background-image:url(18.jpg)"></div></div>
					<div class="grid__item"><div class="grid__item-inner" style="background-image:url(5.jpg)"></div></div>
					<div class="grid__item"><div class="grid__item-inner" style="background-image:url(8.jpg)"></div></div>
					<div class="grid__item"><div class="grid__item-inner" style="background-image:url(43.jpg)"></div></div>
					<div class="grid__item"><div class="grid__item-inner" style="background-image:url(34.jpg)"></div></div>
					<div class="grid__item"><div class="grid__item-inner" style="background-image:url(21.jpg)"></div></div>
					<div class="grid__item"><div class="grid__item-inner" style="background-image:url(39.jpg)"></div></div>
					<div class="grid__item"><div class="grid__item-inner" style="background-image:url(6.jpg)"></div></div>
					<div class="grid__item"><div class="grid__item-inner" style="background-image:url(13.jpg)"></div></div>
					<div class="grid__item"><div class="grid__item-inner" style="background-image:url(47.jpg)"></div></div>
					<div class="grid__item"><div class="grid__item-inner" style="background-image:url(10.jpg)"></div></div>
					<div class="grid__item"><div class="grid__item-inner" style="background-image:url(45.jpg)"></div></div>
					<div class="grid__item"><div class="grid__item-inner" style="background-image:url(27.jpg)"></div></div>
					<div class="grid__item"><div class="grid__item-inner" style="background-image:url(31.jpg)"></div></div>
					<div class="grid__item"><div class="grid__item-inner" style="background-image:url(28.jpg)"></div></div>
					<div class="grid__item"><div class="grid__item-inner" style="background-image:url(30.jpg)"></div></div>
					<div class="grid__item"><div class="grid__item-inner" style="background-image:url(36.jpg)"></div></div>
					<div class="grid__item"><div class="grid__item-inner" style="background-image:url(14.jpg)"></div></div>
					<div class="grid__item"><div class="grid__item-inner" style="background-image:url(23.jpg)"></div></div>
					<div class="grid__item"><div class="grid__item-inner" style="background-image:url(35.jpg)"></div></div>
					<div class="grid__item"><div class="grid__item-inner" style="background-image:url(19.jpg)"></div></div>
				</div>
			</div>
			<h3 class="content__title">Unforgettable journeys and visits</h3>
			</section>
			<section class="outro">
			</section>
		</main>

		<script>
			document.addEventListener('DOMContentLoaded', (event) => {
				const imageGrid = document.getElementById('imageGrid');
				const imageCount = 48; // Number of images
				const imagePath = ' '; // Path to images
		
				for (let i = 1; i <= imageCount; i++) {
					const imageUrl = `${imagePath}/${i}.jpg`; // Assuming the images are named 1.jpg, 2.jpg, ...
					const gridItem = `
						<div class="grid__item">
							<div class="grid__item-inner" style="background-image:url(${imageUrl})"></div>
						</div>
					`;
					imageGrid.innerHTML += gridItem;
				}
			});
		</script>
		

		<script src="https://tympanus.net/codrops/adpacks/cda_sponsor.js"></script>
		<script src="gsap.min.js"></script>
		<script src="ScrollTrigger.min.js"></script>
		<script src="lenis.min.js"></script>
		<script src="imagesloaded.pkgd.min.js"></script>
		<script type="module" src="index.js"></script>
	</body>
</html>
