<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./login.css">
    <title>Register</title>
</head>

<body>
    <header>

    </header>
    <script src="./header.js"></script>

    <main>
        <div class="registerContainer">
            <form action="/register" method="POST">
                <h2>Register</h2>

                <div>
                    <label for="name">Name</label> 
                    <br>
                    <input type="text" id="name" name="name" required>
                </div>

                <div>
                    <label for="email">Email</label> 
                    <br>
                    <input type="email" id="email" name="email" required>
                </div>

                <div>
                    <label for="password">Password</label> 
                    <br>
                    <input type="password" id="password" name="password" required>
                </div>
                
                <button type="submit">Register</button>
            </form>
            <a href="/login">Login</a>
        </div>
    </main>
</body>

</html>