.cardsContainer{
    flex-direction: column;
    gap: 10px;
}

.cardsContainer > .cont {
    padding: 10px;
    background-color: #141414;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.cardsContainer h1 {
    color: aliceblue;
}


.coverageCard {
    width: 365px;
    height: 269px;
    flex: 1 1 0px;
    min-width: 365px;
    max-width: 400px;
    background-color: #222222;
    border-radius: 18px;
    border: 1px solid black;
    box-shadow: 4px 6px 15px  black;
}

.coverageCard img {
    width: 100%;
    height: 208px;
    flex-shrink: 0;
    object-fit: cover;

    border-radius: 18px 18px 0px 0px;
    background: url(./WhatsApp\ Image\ 2023-04-08\ at\ 11.18.42\ PM.jpeg), lightgray 50% / cover no-repeat;
}

.coverageCard .cardTitle {
    /* width: 340px;
    height: 26px; */
    flex-shrink: 0;
    font-size: 20px;
    color: #E8E8E8;
    margin: 5px 10px;
    font-family: 'Inter', sans-serif;

}

.coverageCard .cardDate {
    /* width: 91px;
    height: 13px; */
    color: #E8E8E8;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
    margin: 5px 20px;

}