.eventCard {
    width: 365px;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;
    background-color: #222222;
    color: #E8E8E8;
    border-radius: 18px;
    padding: 15px;
    border: 1px solid black;
    box-shadow: 3px 5px 12px black;

}

.eventCard .titlePar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.eventCard .cardTitle {
    /* color: #E8E8E8; */
    /* font-family: Inter; */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;

    font-family: 'Inter', sans-serif;
}

.eventCard .registerButton{
    width: 70px;
    height: 19px;
    font-size: 11px;
    text-align: center;
    padding: 0;
}


.eventCard .cardcontent {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.67;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: auto;
  
}




.eventCard .cardDetails {
    display: flex;
    justify-content: space-between;
    margin-top: auto;

}

.eventCard .cardDetails>span {
    color: #f6ec04;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.78;

}