body{
    height: 90vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #E8E8E8;
}

.errorMessage {
    height: fit-content;
    width: fit-content;
    background-color: #c0242494;
    opacity: 0.8;
    position: absolute;
    top: 5%;
    left: calc(50%-fit-content);
    padding: 10px;
    border-color: #E8E8E8;
    border-radius:5px;
}


.loginContainer {
    width: 365px;
    height: 528px;
    flex-shrink: 0;
    /* display: flex;
    flex-direction: column; */
    /* fill: #1B1B1B; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #1B1B1B;
    padding: 30px 10px;
    border-radius: 18px;
}

.login-form h2 {
    color: #E8E8E8;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login-form div {
    width: 100%;
    padding: 0px 13px;
}

.login-form div label {
    color: #E8E8E8;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 2px 5px;
}

.login-form div input:not([type="radio"]) {
    width: 100%;
    height: 59.667px;
    flex-shrink: 0;
    color: #E8E8E8;
    border-radius: 7px;
    background: #141414;
    border-radius: 14px;
}

.login-form button {
    width: 183px;
    height: 50.661px;
    border-radius: 9px;
    background: #D6CE10;
}