@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Thin.ttf') format('truetype');
    font-weight: 100;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-ExtraLight.ttf') format('truetype');
    font-weight: 200;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Light.ttf') format('truetype');
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
  }
  
  /* Add other font weights and styles as needed */
  
body {
    background-color: #141414;
    font-family: 'Inter', sans-serif;
    font-weight: 400; /* This will use Inter-Regular.ttf */
      margin: 0;
    overflow-x: hidden;
}

header {
    background-color: #222222;
    display: flex;
    align-items: center;
    padding: 5px;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}

header img {
    width: 70px;
    height: 66px;
    flex-shrink: 0;
    margin: 3px 10px;
}

header h1,
header h2 ,h3 {
    margin: 0;
    flex-shrink: 0;
    color: #E8E8E8;
    font-family: 'Inter Light', sans-serif;
    line-height: normal;
}

header h1 {
    font-size: 29px;
    font-weight: 700;
}

header h2 {
    font-size: 27px;
    font-weight: 400;
}

h3 {
    font-size: 29px;
    font-weight: 600;
}


header>svg {
    margin-left: auto;
    cursor: pointer;
}

.menu {
    display: none;
    flex-direction: column;
    color: #E8E8E8;
    position: fixed;
    z-index: 1;
    gap: 10px;
    height: 100%;
    width: 65%;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #282828;
    opacity: 0;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: all 700ms cubic-bezier(.9, 0, .33, 1);
}

.menu.fade-in {
    display: flex;
    opacity: 0.9;
    transform: translateX(0px);
}

.menu svg:nth-child(1) {
    font-size: 50px;
}

.menu a {
    /* display: block; */
    border-top: #E8E8E8 solid 2px;
    font-size: large;
    color: #E8E8E8;
    text-decoration: none;
    padding: 5px;
}

.bi-person-circle {
    font-size: 100px;
    align-self: center;
    margin: 10px;
}

.bi-x-circle-fill {
    font-size: 27px;
    width: 28px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 10%;
}

section>div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

main {
    position: relative;
    top: 90px;
}